:host {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;

    >div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        >h3 {
            font-size: 40px;
        }
    }
}