<div>
  <h3>Inside ng-getform</h3>
  <lib-ng-getform
    [targetUrl]="'https://getform.io/f/9d2f3436-7fc1-461c-a6a8-053f371b7347'"
    [fields]="fieldList"
    [btnLabel]="'Send form data'"
    [successCallback]="callback"
  ></lib-ng-getform>
</div>

<div>
  <h3>Separate components</h3>
  <lib-input
    [label]="'Write your text'"
    [control]="inputControl"
    [inputId]="'test'"
    [placeholder]="'bi-bo-boop'"
    [validate]="validate"
    [errorMessages]="{
      required: 'Required field',
      minLength: 'At least 2 chracters',
      pattern: 'Only letters'
    }"
  ></lib-input>
  inputControl : {{ inputControl.value }}
  <lib-radio-group
    [items]="radioButtonsArray"
    [orientation]="'horizontal'"
    [label]="'Choose one option'"
    [control]="selectedRadioItem"
    [validate]="validate"
    [errorMessages]="{ required: 'Please select' }"
  ></lib-radio-group>
  Radio Selected Item : {{ selectedRadioItem.value }}
  <lib-select
    [question]="'Choose your favourite fruit'"
    [options]="fruitsArr"
    [control]="favouriteFruit"
    [searchEnabled]="false"
    [validate]="validate"
    [errorMessages]="{ required: 'Select one fruit!' }"
  ></lib-select>
  favouriteFruit : {{ favouriteFruit.value }}
  <lib-checkbox
    [name]="'confirmation'"
    [label]="'Are you sure about that?'"
    [control]="confirmationState"
    [validate]="validate"
    [errorMessages]="{ required: 'Must be checked' }"
  ></lib-checkbox>
  {{ confirmationState.value }}
  <lib-button
    [btnLabel]="'Validate inputs'"
    [btnType]="'wide stroke'"
    (click)="validateInputs()"
  ></lib-button>
</div>
