:host {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;

    >div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        >h3 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 40px;
        }
    }
}